@font-face {
    font-family: "title";
    src: url("../Ubuntu-L.ttf") format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    font-family: "Helvetica Neue";
    background-image: url('../img/chrome-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: "title";
    font-size: 4.2em;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

h2 {
    margin: 0;
    font-family: "title";
    text-align: center;
    font-size: 36px;
}
