@font-face {
    font-family: "title";
    src: url("../Ubuntu-L.ttf") format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

body {
    font-family: "Helvetica Neue";
    background-image: url('../img/chrome-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: "title";
    font-size: 4.2em;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

h2 {
    margin: 0;
    font-family: "title";
    text-align: center;
    font-size: 36px;
}

#intro {
    height: 100vh;
}

#header-text {
    display: inline;
    margin-top: 20%;
    color: white;
    top: 0;
    left: 30%;
    right: 30%;
    height: 100vh;
    position: absolute;
}

#background-filter {
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: absolute;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

#header-text small {
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #ccc;
}

#presentation {
    background-color: #EFECEC;
    padding-top: 20px;
    padding-bottom: 2%;
    width: 100%;
}

#pp {
    width: 300px;
    height: 300px;
    padding-right: 10%;
    border-right: 3px black double;
}

.inline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

#myself {
    border-right: 3px black double;
}
